<!DOCTYPE html>
<html lang="en">
  <head>
    <title><%= @page_title %></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="keywords" content="<%= @seo_keyword %>">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'blogs', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
      }
      
      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
    </style>
  </head>
  <body>
    <main class="container">
      <div class="row">
        <%= render 'shared/blog_nav' %>
        <%= render 'shared/blog_masthead' %>
        <%= yield %>
        <%= render 'shared/blog_sidebar' %>
      </div>
    </main><!-- /.container -->
    <%= render 'shared/blog_footer' %>
    <%= source_helper("blog") %>
  </body>
</html>
